<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  <Merthsoft.MouseDollyMapper.SettingsCategory>Mapeador de Arrastre del Ratón</Merthsoft.MouseDollyMapper.SettingsCategory>

  <Merthsoft.MouseDollyMapper.ButtonLeft>Izquierdo (0)</Merthsoft.MouseDollyMapper.ButtonLeft>
  <Merthsoft.MouseDollyMapper.ButtonRight>Derecho (1)</Merthsoft.MouseDollyMapper.ButtonRight>
  <Merthsoft.MouseDollyMapper.ButtonMiddle>Central (2)</Merthsoft.MouseDollyMapper.ButtonMiddle>
  <Merthsoft.MouseDollyMapper.ButtonBack>Atrás (3)</Merthsoft.MouseDollyMapper.ButtonBack>
  <Merthsoft.MouseDollyMapper.ButtonForward>Adelante (4)</Merthsoft.MouseDollyMapper.ButtonForward>
  <Merthsoft.MouseDollyMapper.ButtonGeneric>Ratón {0}</Merthsoft.MouseDollyMapper.ButtonGeneric>

  <Merthsoft.MouseDollyMapper.CurrentDollyButton>Botón actual de arrastre: {0}</Merthsoft.MouseDollyMapper.CurrentDollyButton>
  <Merthsoft.MouseDollyMapper.SetDollyButton>Configurar botón de arrastre</Merthsoft.MouseDollyMapper.SetDollyButton>
  <Merthsoft.MouseDollyMapper.ClickAnyMouseButton>Haz clic en cualquier botón del ratón.</Merthsoft.MouseDollyMapper.ClickAnyMouseButton>
  <Merthsoft.MouseDollyMapper.DisableWhenColonistSelected>Desactivar arrastre cuando un colono esté seleccionado.</Merthsoft.MouseDollyMapper.DisableWhenColonistSelected>
  
  <Merthsoft.MouseDollyMapper.ArchitectMenuModeLabel>Modo del menú de arquitectura:</Merthsoft.MouseDollyMapper.ArchitectMenuModeLabel>
  <Merthsoft.MouseDollyMapper.ArchitectMenuMode.Vanilla>Predeterminado (cambiar al presionar el ratón)</Merthsoft.MouseDollyMapper.ArchitectMenuMode.Vanilla>
  <Merthsoft.MouseDollyMapper.ArchitectMenuMode.Disable>Desactivado</Merthsoft.MouseDollyMapper.ArchitectMenuMode.Disable>
  <Merthsoft.MouseDollyMapper.ArchitectMenuMode.ToggleOnClick>Cambiar al hacer clic (soltar ratón sin arrastrar)</Merthsoft.MouseDollyMapper.ArchitectMenuMode.ToggleOnClick>

  <Merthsoft.MouseDollyMapper.UiHidingModeLabel>Modo de ocultar la interfaz:</Merthsoft.MouseDollyMapper.UiHidingModeLabel>
  <Merthsoft.MouseDollyMapper.UiHidingMode.None>Ninguno</Merthsoft.MouseDollyMapper.UiHidingMode.None>
  <Merthsoft.MouseDollyMapper.UiHidingMode.ArchitectMenu>Menú de arquitectura</Merthsoft.MouseDollyMapper.UiHidingMode.ArchitectMenu>
  <Merthsoft.MouseDollyMapper.UiHidingMode.OpenTab>Pestaña abierta</Merthsoft.MouseDollyMapper.UiHidingMode.OpenTab>
  <Merthsoft.MouseDollyMapper.UiHidingMode.AllUi>Toda la interfaz</Merthsoft.MouseDollyMapper.UiHidingMode.AllUi>
</LanguageData>
